<div class="home-page">
    <div class="home-header">
        <p>Selecciona los generos de musica con los que quieres empezar a jugar!</p>
    </div>
    <div class="home-body">
        <mat-grid-list cols="2" rowHeight="2:1" *ngIf="loaded">
            <mat-grid-tile *ngFor="let category of categories">
                <mat-card (click)="selectGender(this.category)" >
                    <mat-card-content>
                        <p *ngIf="this.category.selected" matBadge="✔️" matBadgeOverlap="false" matBadgePosition="above"></p>
                        <p>{{category.name}}</p>
                    </mat-card-content>
                    <img mat-card-image src="{{category.icons[0].url}}" alt="{{category.name}}">
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <button (click)="next()">Siguiente!</button>
    </div>
</div>