.login-page{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: blue;
}

.login-form{
    display:flex;
    width: 20rem;
    background-color: white;
    align-items: center !important;
}
