@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.login-page{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: gray;
    background-image: -webkit-linear-gradient(top left, #461da5, #2833d1);
}

.login-form{
    display: flex;
    width: 20rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    background-color: white;
    background-color: gray;
    background-image: -webkit-linear-gradient(top left, #182381, #1d5e92);
}

.email_group{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Mate SC', serif;
}
.password_group{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Mate SC', serif;
}

input{
    height: 1.3rem;
    width: 15rem;
    font-family: 'Mate SC', serif;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border:0;
    padding: 10px;
    font-family: 'Viaoda Libre', cursive;
    border-radius: 10px;
}

.login-button{
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Viaoda Libre', cursive;
    color:white
}
.login-button:hover{
    background-image: -webkit-linear-gradient(top left, #446fcc, #6a85d1);
}
label{
    color: white;
}