@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&family=Mate+SC&display=swap');

.login-page{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: gray;
    background-image: -webkit-linear-gradient(top left, #461da5, #2833d1);
}

.login-form{
    display: flex;
    width: 20rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    background-color: white;
    background-color: gray;
    background-image: -webkit-linear-gradient(top left, #182381, #1d5e92);
}

.email_group{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Mate SC', serif;
}
.password_group{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Mate SC', serif;
}

input{
    height: 1.3rem;
    width: 15rem;
    font-family: 'Mate SC', serif;
}

.login-button{
    width: 15rem;
    height: 2rem;
    background-color: #83cbdd;
    color:white;
    font-family: 'Baloo Tammudu 2', cursive;
    letter-spacing: 3px;
}
