<div class="login-page">
    <div class="login-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="email_group">
          <input formControlName="email" placeholder="Introduzca su email"/>
          <br/>
          <span class="error" *ngIf="email.invalid && email.touched">El correo es obligatorio</span>
          <br/>
        </div>
        <div class="password_group">
          <input type="password" formControlName="password" placeholder="Introduzca su contrase;a"/>
          <br/>
          <span class="error" *ngIf="password.invalid && password.touched">Contrase;a obligatoria</span>
          <br/>
        </div>
        <button class="login-button" type="submit" [disabled]="!loginForm.valid">Iniciar sesion</button>
      </form>
      <br/>
    </div>
    <button (click)="goToRegister()" class="regiter-button">Aun no te has registrado? Hazlo ahora!</button>

  </div>